# Java #
*.class
*.war
*.ear

# Objective-C #
*.o
ios/xcuserdata
ios/project.xcworkspace

# Android #
android/bin
android/gen

# Mac #
.DS_Store

# IntelliJ Idea/AppCode #
.idea
ios/.idea
android/.idea
